* {
  box-sizing: border-box;
}



.div-flex-centrado {
  display: flex;
  justify-content: center;
}

.div-flex-derecha {
  display: flex;
  justify-content: flex-end;
}

.div-flex-izquierda {
  display: flex;
  justify-content: flex-start;
}

.seccion-subtitulo {

  margin-bottom: 0;
  padding: 0;
  color: black;
}

.seccion-titulo {
  text-align: center;
  color: rgb(241, 241, 241);
  width: fit-content;
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.3rem;
  padding-left: 5%;
  padding-right: 5%;

  font-size: 2rem;
  border-radius: 0rem 2rem 2rem 0rem;
}