* {
  box-sizing: border-box;
}



.div-flex-centrado {
  display: flex;
  justify-content: center;
}

.div-flex-derecha {
  display: flex;
  justify-content: flex-end;
}

.seccion-subtitulo {
  
  margin-bottom: 0;
  padding: 0;
  color: black;
}

.seccion-titulo {
   text-align: center; 
   color: rgb(241, 241, 241);
   width: fit-content;
   background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.3rem;
        padding-left: 5%;
    padding-right: 5%;
      border-bottom: 1px solid rgba(183, 183, 183, 37%);
  font-size: 2rem;
  border-radius: 2rem 0rem 0rem 2rem;
    }
 
