* {
  box-sizing: border-box;
}

.foto-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 1rem;
}

.foto-portfolio {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  /* border: 1px solid black; */

}

.foto-figcaption {
  color: rgb(65, 65, 65);
  text-align: right;
  margin-left: 0%;
  display: flex;
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.2rem;

}

.foto-epigrafe {
  flex-grow: 1;
  width: 0;
  padding-bottom: 5rem;
}